h1{
            color:red;
        }

        strong{
            color:green;
        }

        #xxx{
            color:green;
        }
        #xx{
            color:purple;
        }